header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 15px 0;
    background-color: black;
}

menu {
    display: flex;
    justify-content: end;
    gap: 15px;
    list-style: none;
    ;
}

.menu li a {
    text-decoration: none;
    color: white;
}

img {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: end;
    gap: 15px;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: black;
}


.icons-social {
    padding: 15px 0 15px 0;
    display: flex;
    gap: 15px;
}

.icons {
    font-size: 50px;
}

.whatsapp {
    color: green;
}